#facets {
    margin-top: 20px;
    opacity: 0;
}

.facetsearch {
    display: inline-block;
    min-width: 185px;
    max-width: 200px;
    vertical-align: top;
    margin-right: 25px;
    border-right: solid 1px #AAA;
    padding-right: 20px;    
}
.activeorderby,
.activefacet {
    color: #4682b4;
}

.disabledfacet {
    color: #7e7b7f;
}

#beneficiaries .facetlist, #mecanisms .facetlist, #topics .facetlist {
    overflow-y: hidden;
}

.bottomline {
    padding: 10px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
    background-color: #b0c4de;
}
.bottomline .orderby,
.bottomline .facettotalcount {
    display: inline-block;
}
.bottomline .orderby ul,
.bottomline .orderby li {
    display: inline;
    padding: 0;
}
.bottomline .orderby-title {
    margin: 0 0 0 10px;
}

.deselectstartover {
    cursor: pointer;
    color: #4682b4;
}

.deselectstartover:hover {
    text-decoration: underline;
}

.bottomline .deselectstartover {
    float: right;
}

.facetlist {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.facetitem {
    cursor: pointer;
}

.item {
    margin: 0 10px 15px 0;
    vertical-align: top;
}

.item .tags {
    font-weight: bold;
    color: gray;
}
#showmorebutton {
    border: 1px solid #AAA;
    border-radius: 15px;
    background-color: #DDD;
    margin: 0 0 10px 0;
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
}

/* These styles are just general purpose styles to make the page look a little less aweful */

* {
    margin: 0;
    padding: 0;
}
body, html {
    overflow-x: hidden;
}
body {
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

p {
    padding-bottom: 1em;
    line-height: 1.3em;
}

tt {
    background-color: #EEE;
    border: 1px solid #CCC;
}

.extrafacetlink {
    display: inline-block;
    /*min-width: 185px;*/
    /*max-width: 200px;*/
    vertical-align: bottom;
    margin-right: 25px;
    /*border-right: solid 1px #AAA;*/
    padding-right: 20px;
}

.floatingFacet {
    position: absolute;
    z-index: 1000;
    top: 305px;
    left: 0;
    background-color: #FFFFFF;
    display: none;
    border: solid 1px #cccccc;
    padding: 10px;
}

#empresasFacets {
    left: 62px;
}

#institucionesFacets {
    left: 410px;
}

.closeFloatingFacet {
    float: right;
    text-decoration: none;
}

a.closeFloatingFacet:hover {
    color: #000000;
    font: bolder;
}

