.inverse {
    background-color: #34495e;
    color: #ffffff;
}

.fluid {
    margin-bottom: 16px;
}

.facet {
    height: 250px;
}

.facet .close {
    margin-top: 15px;
}

.scroll {
    height: 140px;
    overflow-y: scroll;
}

.facetitem {
    margin-bottom: 4px;
}

.facetitem a {
    color: #34495e;
}

.facetitem a.checked {
    color: #16a085;
}

dt {
    float: left;
    margin-right: 4px;
}