a {
    color: #3498db;
}

a:hover {
    color: #3498db;
    text-decoration: underline;
}

.inverse {
    background-color: #1d6496;
    color: #ffffff;
}

.inverse h1 {
    font-size: 36px;
    line-height: 60px;
}

.fluid {
    /*margin-bottom: 16px;*/
}

.facet {
    height: 250px;
    background-color: #ffffff;
}

.light {
    background-color: #ebedef;
}

.facet .close {
    margin-top: 15px;
}

.scroll {
    height: 200px;
    overflow-y: scroll;
}

.facetitem {
    margin-bottom: 4px;
}

.facetitem a {
    color: #34495e;
}

.facetitem a.checked {
    color: #3498db;
}

.filter {
    background-color: #1cbcea;;
}

.filter-items {
    color: #999999;
    font-weight: bold;
}

dt {
    float: left;
    margin-right: 4px;
}

.search-query {
    width: 290px;
}

.form-search.focus input {
    border-color: #3498db;
}

.form-search.focus .btn {
    border-color: #3498db;
    color: #3498db;
}

.reset-filter {
    margin: 10px 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    background-color: #2970a3;
}

.nav-pills > li > a {
    background-color: #3498db;
    border-left: 2px solid #2970a3;
}

.nav-pills > li > a:hover {
    background-color: #36adf3;
}

.bottom-menu {
    background-color: #1d6496;
}